.reservasContainer {
    width: 100%;
    text-align: center;
}

.reservasContainer h1 {
    margin: 0 auto;
}

.stickyReservasTitle {
    z-index: 2;
    position: sticky;
    top: 60px;
}

.stickyReservasTitle h1 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: var(--secondary);
    padding: 20px 0;
    background-color: var(--background);
}

@media screen and (max-width: 650px) {
    .reservasContainer {
    }
}
