body {
    --primary: rgb(47, 200, 232);
    --secondary: rgb(58, 74, 77);
    --background: rgb(247, 248, 250);
    --contrast: rgb(254, 67, 50);
    background-color: var(--background);
}

.flexbox {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
}
